<form [formGroup]="consultaForm">
  <input type="text" formControlName="sigla" #id>
  <button (click)="obterPartido(id.value)">Buscar partido por sigla</button>
  <br>
  <br>
  <input type="text" formControlName="lider" #idL>
  <button [disabled]="consultaForm.invalid" (click)="obterLider(idL.value)">Buscar líder do partido</button>
</form>

<div *ngFor="let item of partido">
  {{item.sigla}} é a sigla do partido {{item.nome}}
  Seu codigo para consultas extras e: {{item.id}}
  <br>
</div>

<div *ngFor="let item of lideres, let i = index">
{{i}} - {{item.nome}}
  <br>
</div>
