<form [formGroup]="consultaForm">
  <label for="sigla">Informe a sigla do Partido para buscar</label>
  <br>
  <input type="text" formControlName="sigla" #id>
  <button [disabled]="consultaForm.invalid" (click)="obterPartido(id.value)">Buscar</button>
</form>
<br>

<div *ngIf="consultaForm.valid">
  <div *ngFor="let item of partido">
    {{item.sigla}} é a sigla do partido {{item.nome}}
    <br>
    <br>
    <br>
  <label for="consulta">Selecione outro tipo de consulta</label>
  <br>
  <select #option name="consulta">
    <option value="">Selecione uma opção</option>
    <option value="lideres">Líderes do {{item.sigla}}</option>
    <option value="deputados">Deputados do {{item.sigla}}</option>
  </select>
  <button (click)="select(option.value, id.value)">Buscar</button>
  </div>

  <div *ngFor="let item of lideres, let i = index">
    {{i}} - {{item.nome}}
    <br>
  </div>

  <div *ngFor="let item of depPartido, let i = index">
    {{i}} - {{item.nome}}
    <br>
  </div>

</div>
